<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="3.0.3" targetFramework="xamarinmac20" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinmac20" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinmac20" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinmac20" />
</packages>