
body {
    font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
    margin: 5px 10px;
    padding: 0;
    background-color: #000;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#main_content  {
    -webkit-border-radius: 8px;
    border: 2px solid #ff0;
}

p {
    font-size: 12px;
    margin: 20px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#message_button {
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 3px 5px;
    border: 2px solid #0af;
    -webkit-border-radius: 8px;
    background-color: #000;
    color: #fff;
}

#message_button:active {
    background-color: #0af;
    color: #000;
}

#message_button_jscript {
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 3px 5px;
    border: 2px solid #0af;
    -webkit-border-radius: 8px;
    background-color: #000;
    color: #fff;
}

#message_button_jscript:active {
    background-color: #0af;
    color: #000;
}